body{
    overflow: hidden;
    margin: 0;
}

#canvas{
    position: absolute;
    overflow: hidden;
    background: rgb(65,154,242);
    background: linear-gradient(180deg, rgba(65,154,242,1) 25%, rgba(137,231,240,1) 100%);

}

#balloon{
    background: url(../images/hotairballoon.png);
    position:absolute;
    bottom:0;
    right:0;
    width: 200px ;
    height: 271px;
    z-index: 5;
}

#gift{
    opacity: 0;
    background: url(../images/orangeGiftRibbonRed.png) no-repeat;
    position:absolute;
    top:240px;
    right: 72px;
    width: 51px ;
    height: 41px;
    transform: scale(0.6,0.6);
    z-index: 5;
}

.cloud1{
    background: url(../images/cloud1.png);
    position:absolute;
    top:0;
    left: 0;
    width: 100px ;
    height: 32px;
}

.cloud2{
    background: url(../images/cloud2.png);
    position:absolute;
    top:0;
    left: 0;
    width: 100px ;
    height: 35px;
   
}

.cloud3{
    background: url(../images/cloud4.png);
    position:absolute;
    top:0;
    left: 0;
    width: 50px ;
    height: 34px;
   
}

.cloud4{
    background: url(../images/cloud4.png) ;
    position:absolute;
    top:0;
    left: 0;
    width: 50px ;
    height: 34px;
    
}

.cloud5{
    background: url(../images/cloud5.png);
    position:absolute;
    top:0;
    left: 0;
    width: 250px ;
    height: 84px;
    
}

.cloud6{
    background: url(../images/cloud6.png);
    position:absolute;
    top:0;
    left: 0;
    width: 150px ;
    height: 66px;
   
}